@media only screen and (max-width: 360px) {

	.wrapper {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		min-width: 360px;
		min-height: 2010px;
	}

	.wrapper_header {
		display: none;
		width: 100%;
		margin-left: 27%;
	}

	.banner-image {
		box-sizing: border-box;
		display: block;
		width: 60vw;
		height: 15vh;
		max-width: initial;

	}

	.cosmic-heading {
		padding: 0;
		padding-left: 1%;
		margin: 0;
		font: 25 60px/45px MorfinSans;
		color: white;
		text-align: left;

	}

	.event-title-text-style {
		padding: 0;
		padding-left: 1%;
		margin: 0;
		font: 400 45px/25px MorfinSans;
		color: white;
	}

	#slider-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		row-gap: 15px;
		height: 50vh;
		background-color: black;
		margin-top: 15%;
	}

	#frame {
		overflow: hidden;
		width: 80vw;
		height: 50vh;
		border-radius: 10px;
	}

	#slider {
		width: 100%;
		height: 100%;
		display: flex;
		transition: 1s ease-in-out;
		background-color: black;

	}

	.arrow {
		display: none;
	}

	.slider-image {
		width: 100%;
		height: 100%;
		object-fit: contain;
		/* изменено */
		flex-shrink: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	#bottom {
		
		box-sizing: border-box;
		display: flex;
		column-gap: 25px;
		overflow: hidden;
		width: 33vw;
		height: 25vh;
		transition: 1s ease-in-out;
		position: relative;
	}

	.arrow_bottom {
		display: none;
	}

	.pagination-circle {
		width: 33vw;
		height: 25vh;
		transition: transform 1s ease-in-out;
		flex-shrink: 0;
		border-color: white;
	}

	.special_project {
		margin-top: 10%;
		width: 100%;
		height: 90vh;
		background-image: url('assets/Specal_project.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		text-align: center;
		display: flex;
		justify-content: center;
	}

	.special_project_description {
		margin-top: -40%;
		width: 100%;
		display: flex;
		text-align: center;
		justify-content: center;
		flex-direction: column;
		
	}

	.special_project_description h2 {
		color: rgb(255, 255, 255);
		font: 400 15px/16px Invole;
		/* Убираем фиксированную ширину */
		width: auto;
		/* Центрирование текста по горизонтали */
		text-align: center;
	}


	.special_project_description p {
		color: rgb(255, 255, 255);
		font: 400 5px/8px Invole;
		margin-top: 8%;
		text-align: center;
		width: 35vw;
		margin-left: 33vw;
	}

	.conception {
		width: 100%;
		margin-top: 65px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	
	}

	.conception h2 {
		color: #e7e7e0;
		font: 400 50px MorfinSans;
		color: white;
		padding-right: 55%;
		white-space: nowrap;
		}

	.wrapper_tags {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 15px;
	}

	.close {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-image: url('assets/close.svg');
		width: 90vw;
		height: 66vh;
		transition: 0.6s ease-in-out;
		transform-style: preserve-3d;
		border-radius: 5%;
	}
	
	.camera {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-image: url('assets/camer.svg');
		width: 90vw;
		height: 66vh;
		transition: 0.6s ease-in-out;
		transform-style: preserve-3d;
		border-radius: 5%;
	
	}
	
	.world {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-image: url('assets/world.svg');
		width: 90vw;
		height: 66vh;
		transition: 0.6s ease-in-out;
		transform-style: preserve-3d;
		border-radius: 5%;
	}

	.contacts {
		color: white;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
	}
	
	.contacts h2 {
		display: none;
	}
	
	.wrapper_contacts {
		font: 400 45px/45px Invole;
		width:100%;
		margin-right: 13vw ;
	}
	
	.vk {
		border: solid white;
		border-radius: 10px;
		width: 80%;
		display: flex;
		text-align: center;
		justify-content: center;
	}
	
	.vk a {
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 3.8vh;
	}
	
	.number {
		position: relative;
		
		text-decoration: none;
		font-size: 3.8vh;
		color: white;
		border: solid white;
		border-radius: 10px;
		width: 80%;
	}


}