* {
  margin: 0;
  box-sizing: border-box;

}

:root {
  --index: calc(1vw + 1vh);
}

@font-face {
  font-family: MorfinSans;
  src: url(fonts/MorfinSans-Regular.ttf);
}

@font-face {
  font-family: Invole;
  src: url(fonts/Involve-Regular.ttf);
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 1280px;
  min-height: 3582px;
  background: black;
}


.header {
  display: flex;
  margin-top: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 100%;
}

.banner-image {
  box-sizing: border-box;
  display: block;
  width: 300px;
  max-width: initial;
  height: 57px;
}

.immersive-text1 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 104px;
  height: 25px;
  margin-left: 10%;
  padding: 0;
  padding-top: 5px;
  font: 400 20px/24px Invole;
  color: white;
  text-align: center;
  text-decoration: none;
}

.multiverse {
  flex: 0 0 auto;
  margin-top: 9%;
}

.cosmic-heading {
  padding: 0;
  padding-left: 1%;
  margin: 0;
  font: 400 181px/163px MorfinSans;
  color: white;
  text-align: left;

}

.poster {
  box-sizing: border-box;
  width: 100%;
  margin-top: 10%;
}

.event-title-text-style {
  padding: 0;
  padding-left: 16%;
  margin: 0;
  font: 400 85px/85px MorfinSans;
  color: white;
}

#slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 650px;
  background-color: black;
  margin-top: 13%;
}

#frame {
  overflow: hidden;
  width: 1057px;
  height: 385px;
  border-radius: 10px;
}

#top {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom_slider {
  display: flex;
  align-items: center;
  justify-content: center;
}


#slider {
  width: 100%;
  height: 100%;
  display: flex;
  transition: 1s ease-in-out;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.arrow {
  width: 120px;
  height: 120px;
  }

.arrow_bottom {
  width: 120px;
  height: 120px;
  margin: -65px 0 0 0;

}


.pagination-circle {
  width: 250px;
  height: 225px;
  border-radius: 10%;
}

.active {
  /* background-color: purple;  */
}

#bottom {
  display: flex;
  column-gap: 25px;
}

.special_project {
  margin-top: 20px;
  width: 100%;
  height: 720px;
  background-image: url('assets/Specal_project.svg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
}

.special_project_description {
  margin-top: 24px;
  width: 45%;

}

.special_project_description h2 {
  color: rgb(255, 255, 255);
  font: 400 35px/42px Invole;
}

.special_project_description p {
  color: rgb(255, 255, 255);
  font: 400 20px/24px Invole;
}

.conception {
  width: 100%;
  text-align: center;
  margin-top: 65px;

}

.conception h2 {
  color: #e7e7e0;
  font: 400 85px/85px MorfinSans;
  color: white;
  padding-left: 53%;
}

.wrapper_tags {
  display: inline-flex;
  justify-content: space-between;
  width: 90%;
}

.close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('assets/close.svg');
  width: 339px;
  height: 327px;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}

.camera {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('assets/camer.svg');
  width: 339px;
  height: 327px;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;

}

.world {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('assets/world.svg');
  width: 339px;
  height: 327px;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}

.close:hover {
  background-image: url('assets/close_hover.png');
  background-color: white;
  border-radius: 10px;
  transform: rotateY(0.5turn); /* Оставляем только переворот */
}


.camera:hover {
  background-image: url('assets/m_camera_close.png');
  background-color: white;
  border-radius: 10px;
  transform: rotateY(0.5turn); /* Оставляем только переворот */
}

.world:hover {
  background-image: url('assets/m_world_hover.png');
  background-color: white;
  border-radius: 10px;
  transform: rotateY(0.5turn); /* Оставляем только переворот */
}


.contacts {
  color: white;
  display: flex;
  text-align: center;
  margin-top: 187px;
  width: 100%;
}

.contacts h2 {
  font: 400 55px/55px MorfinSans;
  margin-top: -25px;
  margin-left: 13%;
}

.wrapper_contacts {
  margin-left: 120px;
  font: 400 45px/45px Invole;
  width: 80%;
}

.vk {
  border: solid white;
  border-radius: 10px;
  width: 80%;
}

.vk a {
  color: white;
  text-align: center;
  text-decoration: none;
}

.number {
  position: relative;
  top: -20px;
  text-decoration: none;
  color: white;
  border: solid white;
  border-radius: 10px;
  width: 80%;
}