* {
  margin:0;
  box-sizing: border-box;
  
}


:root {
  --index: calc(1vw + 1vh);
  --text: #e7e7e0;
  --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
  --font: font-family:'MorfinSans'
}

@font-face {
  font-family: MorfinSans;
  src: url(fonts/MorfinSans-Regular.ttf);
}

@font-face {
  font-family: Invole;
  src: url(fonts/Involve-Regular.ttf);
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 100vw;
  min-height: 3582px;
  background: black;
}


.header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 91px;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: nowrap;
  padding-left: 150px;
  padding-right: 220px;
}

.banner-image {
  box-sizing: border-box;
  display: block;
  width: 300px;
  max-width: initial;
  height: 57px;
}

.immersive-text1 {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 106px;
  padding: 0;
  padding-top: 5px;
  margin: 0;
  font: 400 20px/24px Invole;
  color: white;
  text-align: center;
  text-decoration: none;
}

.multiverse {
  flex: 0 0 auto;
  margin-top: 95px;
}

.cosmic-heading {
  padding: 0;
  padding-left: 210px;
  margin: 0;
  font: 400 181px/163px MorfinSans;
  color: white;
  text-align: left;

}

.poster {
  box-sizing: border-box;
  width: 100%;
  margin-top: 120px;
}

.event-title-text-style {
  padding: 0;
  padding-left: 210px;
  margin: 0;
  font: 400 85px/85px MorfinSans;
  color: white;
}

#slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100vh;
  background-color: black;
}

#frame {
  overflow: hidden;
  width: 800px;
  height: 500px;
  border-radius: 10px;
}

#top {
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider {
  width: 100%;
  height: 100%;
  display: flex;
  transition: 1s ease-in-out;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.arrow {
  width: 120px;
  height: 120px;
}

.pagination-circle {
  width: 250px;
  height: 157px;
  border: 2px solid white;
  border-radius: 10%;
}

.active {
   background-color: purple; 
}

#bottom {
  display: flex;
  column-gap: 25px;
}

.special_project {
  margin-top: 140px;
  width: 100%;
  height: 1017px;
  background-image: url('assets/special_project.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;

}

.special_project_description {
  margin-top: 150px;
  width: 38%;

}

.special_project_description h2 {
  color: rgb(255, 255, 255);
  font: 400 35px/42px Invole;
}

.special_project_description p {
  color: rgb(255, 255, 255);
  font: 400 20px/24px Invole;
}
.conception {
  width: 100%;
  text-align: center;
  
}
.conception h2 {
  color: #e7e7e0;
  font: 400 85px/85px MorfinSans;
  color: white;
  padding-left: 600px;
}

.wrapper_tags {
  display: inline-flex;
  justify-content: space-between;
  width: 55%;
}
.close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('assets/close.svg');
  width:339px;
  height: 327px;
  
}
.camera {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('assets/camer.svg');
  width:339px;
  height: 327px;
  
}
.world {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('assets/world.svg');
  width:339px;
  height: 327px;
  }

.close:hover {
  background-image: url('assets/close_hover.svg');
  background-color: white;
  border-radius: 10px;
}
.camera:hover {
  background-image: url('assets/camera_close.svg');
  background-color: white;
  border-radius: 10px;
}
.world:hover {
  background-image: url('assets/world_hover.svg');
  background-color: white;
  border-radius: 10px;
}


.contacts {
  color: white;
  display: flex;
  text-align: center;
  margin-top: 130px;
  width: 72%;
}

.contacts h2 {
  font: 400 55px/55px MorfinSans;
  margin-top: -25px;
}

.wrapper_contacts {
  margin-left: 120px;
  font: 400 45px/45px Invole;
  width: 80%;
}

.vk {
  border: solid white;
  border-radius: 10px;
  width: 100%;
}

.vk a {
  color: white;
  text-align: center;
  text-decoration: none;
}

.number {
  position: relative;
  top: -20px;
  text-decoration: none;
  color: white;
  border: solid white;
  border-radius: 10px;
  width: 100%;
}





