@media only screen and (max-width: 500px) {
	html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}



	.wrapper {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		min-width: 360px;
		min-height: 2010px;
		overflow-x: hidden;
	}

	.immersive-text1 {
		display: none;
		}


	.wrapper_burger,
  .hamburger {
    display: block;
	  }
	
	/* .wrapper_burger {
		
	} */

h1 {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 0.15em;
  font-size: 3em;
  line-height: 1.2;
  transform: translateY(52%);
}


#toggle {
  display: none;
}

/**
  Hamburger
**/
.hamburger {
  position: relative;
  right: 5%;
  margin-left: -1em;
  width: 3em;
  height: 45px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 3em;
  height: 4px;
  border-radius: 3px;
  background-color: #ffffff;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

/**
Nav Styles
**/
.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  top: -100%; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}
nav {
  text-align: left;
  margin-left: 25%;
}
nav a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 2em;
  display: inline-block;
  margin-top: 1.25em;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}
nav a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.25em;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}
nav a:hover {
  color: white;
}
nav a:hover:before {
  height: 100%;
}

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 5px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -3px;
	}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}
	.banner-image {
		box-sizing: border-box;
		display: block;
		width: 54vw;
		height: 7vh;
		max-width: initial;

	}
	
	.cosmic-heading {
		padding: 0;
		padding-left: 1%;
		margin: 0;
		font: 25 60px/45px MorfinSans;
		color: white;
		text-align: left;

	}

	.event-title-text-style {
		padding: 0;
		padding-left: 10%;
		margin: 0;
		font: 400 45px/25px MorfinSans;
		color: white;
		margin-bottom: 10%;
		line-height: normal;
	}


	#slider-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		/* row-gap: 15px; */
		height: 230px;
		background-color: black;
		
	}

	#frame {
		overflow: hidden;
		width: 80%;
		height: 100%;
		border-radius: 10px;
	}

	#slider {
		width: 100%;
		height: 100%;
		display: flex;
		transition: 1s ease-in-out;
		background-color: black;
		 background-size: cover;
    background-position: center;

	}

	.arrow {
		display: none;
	}

	.slider-image {
		width: 100%;
		height: 100%;
		object-fit: contain;
		/* изменено */
		flex-shrink: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	#bottom {
		display: none;
		}

	.arrow_bottom {
		display: none;
	}

	.pagination-circle {
		width: 33vw;
		height: 25vh;
		transition: transform 1s ease-in-out;
		flex-shrink: 0;
		border-color: white;
	}

	.special_project {
		width: 100%;
		height: 30vh;
		background-image: url('assets/Specal_project.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		text-align: center;
		display: flex;
		justify-content: center;
	}

	.special_project_description {
		margin-top: -40%;
		width: 100%;
		display: flex;
		text-align: center;
		justify-content: center;
		flex-direction: column;
		
	}

	.special_project_description h2 {
		color: rgb(255, 255, 255);
		font: 400 15px/16px Invole;
		width: auto;
		text-align: center;
	}


	.special_project_description p {
		color: rgb(255, 255, 255);
		font: 400 5px/8px Invole;
		margin-top: 8%;
		text-align: center;
		width: 35vw;
		margin-left: 33vw;
	}

	.conception {
		width: 100%;
		margin-top: 65px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	
	}

	.conception h2 {
		color: #e7e7e0;
		font: 400 50px MorfinSans;
		color: white;
		padding-right: 55%;
		white-space: nowrap;
		}

	.wrapper_tags {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 15px;
	}

	.close {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-image: url('assets/close_small.png');
		width: 90vw;
		height: 180px;
		transition: 0.6s ease-in-out;
		transform-style: preserve-3d;
		border-radius: 5%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	
	.camera {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-image: url('assets/camera_small.png');
		width: 90vw;
		height: 180px;
		transition: 0.6s ease-in-out;
		transform-style: preserve-3d;
		border-radius: 5%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	
	}
	
	.world {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-image: url('assets/world_small.png');
		width: 90vw;
		height: 180px;
		transition: 0.6s ease-in-out;
		transform-style: preserve-3d;
		border-radius: 5%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}


	.close:hover {
		background-image: url('assets/close_hover.png');
		background-color: white;
		border-radius: 10px;
		transform: rotateY(0.5turn); /* Оставляем только переворот */
	}
	
	
	.camera:hover {
		background-image: url('assets/m_camera_close.png');
		background-color: white;
		border-radius: 10px;
		transform: rotateY(0.5turn); /* Оставляем только переворот */
	}
	
	.world:hover {
		background-image: url('assets/m_world_hover.png');
		background-color: white;
		border-radius: 10px;
		transform: rotateY(0.5turn); /* Оставляем только переворот */
	}


	.contacts {
		color: white;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
	}
	
	.contacts h2 {
		display: none;
	}
	
	.wrapper_contacts {
		font: 400 45px/45px Invole;
		width:100%;
		margin-right: 13vw ;
	}
	
	.vk {
		border: solid white;
		border-radius: 10px;
		width: 80%;
		display: flex;
		text-align: center;
		justify-content: center;
	}
	
	.vk a {
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 3.8vh;
	}
	
	.number {
		position: relative;
		
		text-decoration: none;
		font-size: 3.8vh;
		color: white;
		border: solid white;
		border-radius: 10px;
		width: 80%;
	}


}